numpy==1.26.4
timm==1.0.26
albumentations==2.0.8
pillow
opencv-python-headless
tqdm
imageio
packaging==24.2
einops==0.8.2
fvcore==0.1.5.post20221221
scipy==1.13.1
mmengine==0.10.7
mmsegmentation==1.2.2
addict==2.4.0
yapf==0.43.0
prettytable
rich
ftfy
regex
